.box{
    /* text-shadow: 3px 3px 3px red; */
    text-shadow: 3px 3px 3px red , 6px 6px 6px blue;

}

.box2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    color: black;
    text-align: center;
    box-shadow: -10px -10px 10px orange ,10px 10px 10px green ;
    /* padding-left: 10px;  */
}