.box{
    color: black;
    background-color: yellowgreen;
    /* display: inline; */
    border: 1px solid black;
    /* transform: rotate(0.5turn); */
    /* transform: matrix(1,2,3,4,5); */
    /* transform: skew(30deg, 20deg); */
    transform: scale(2, 0.5);

}