.container{
    height: 400px;
    border: 2px solid greenyellow;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* background-color: aqua; */
    /* flex-direction:column; */
    /* flex-wrap: wrap;
    flex-wrap: nowrap; */
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* justify-content: space-between;
    align-items: stretch;
    align-items: baseline;
    align-items: end;
    align-items: end;
    align-items: baseline;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* align-content:  space-between;
    align-content: space-around;
    align-content: space-evenly; */ 

    
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; 
    gap: 10px; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column nowrap; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}
.box{
    background-color: aqua;
    width: 100px;
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
    border: 1px solid rgb(31, 177, 175);
}

#box3{
    order:5;
    /* flex-grow: 1; */
}

#box1{
    /* flex-wrap: 1; */
    order: 1;
    flex-shrink: 1;
}