/* :root{
    --dark-red:#39d4da;
}


.container{
    border: 1px solid black;
    height: 300px;
    width: 300px;
    background: rgb(13, 255, 0);
    background: var(--dark-red);
}

.box{
    background: aqua;
    border: 2px solid black;
    color: #981a2c;
    margin: 20px;
    --dark-red:#981a2c;
    color: var(--dark-red);
    /* width: 30px; */
/* } */ 
.container{
    width: 100%;
    height: 217px;
    background: yellow;
    border: 2px solid red;
}
.box{
    border: 2px solid green;
    background: aqua;
    height: 211px;
    width: 211px;
    /* margin: 3px; */

    animation: akshay;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1s;
    /* animation-direction: alternate; */
    animation-fill-mode: both;
}

/* @keyframes akshay{
    from{
        width: 2px;
    }
    to{
        width: 800px;
    }
} */
 @keyframes akshay{
    0%{
        width: 211px;
        background: orange;
    }
    50%{
        width: 50%;
        background: white;
    }
    100%{
        width: 100%;
        background: green;
    }
 }