.container{
   border: 1px solid black;
   background: yellow;
   height: 700px;
    width: 505px;
   display: grid;
   grid-template-rows: 30px 1fr 30px;
   grid-template-columns: 100px 400px;

   grid-gap: 4px;
   grid-template-areas: 

   "hd hd"
   "side main"
   "ft ft";
}
.box{
    border: 1px solid red;
    background: aqua;
}

#Header{
    grid-area: hd;
}
#Footer{
    grid-area:ft ;
}
#Sidebar{
    grid-area: side;
}
#Content{
    grid-area: main;
}