.container{
    height: 700px;
    background: yellow;
    border: 1px solid red;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: auto minmax(100px ,auto);
    grid-template-columns: repeat(4,1fr);
}
.box{
    border: 1px solid green;
    background: aqua;
} 