.container{
    border: 1px solid brown;
    background: yellow;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    /* grid-gap: 10px; */

    /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */

/* 
    align-items: start ;
    align-items: baseline;
    align-items: end;
    align-items: stretch; */
    /* align-content: space-around; */
    /* place-content: center;
     */
     /* justify-content: center;
     align-content: center; */
     justify-items: center;
     align-items: center;
     place-self: center;
}

.box{
    border: solid red;
    background: aqua;
}
/* #box1{
    /* justify-self: start;
    /* justify-self: end; */
    /* justify-self: center;
    align-self: center; 
}*/
