*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 700px;
    width: 100%;
    background: yellow;
    display: grid;
    /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px;

    grid-template-areas: 
    "hd"
    "side"
    "main"
    "ft"; */
    grid-template-columns: 200px 400px;
    grid-template-rows: 30px 500px 30px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
    
}
.box{
    background: violet;
    border: 2px solid black;
    margin: 0 10px;
}

#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#sidebar{

    grid-area: side;
}
#content{
    /* margin-left: 20px; */
    grid-area: main;
}