div{
    width: 200px;
    height:200px;
    background-color: aqua;
    border: 1px solid black;
    display: inline-block;
    /* background-color: ; */
}
/* .box{
    position: relative;
    left: 15px;
    top: 10px; */
/* } */
#box3{
    position: absolute;
    top: 100px;
    left: 60px;
}
/* #box1{
    position: fixed;
} */

.wrapper{
    height: 1000px;
    width: 100vw;
    background-color: yellow;
}
#box4{
    position: sticky;
    top: 0px;
}