.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

div{
    height: 50px;
    background-color: aqua;
    width: 50px;
    /* background-image: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */
    border: 1px solid black;
    color: rgb(8, 5, 5);
    display: inline-block;
}

#box3{
    position: absolute;
    top: 100px;
    left: 50px;
}



