*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 700px;
    border: 2px solid black;
    background:yellow;
    display: grid;

    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}

.box{
   
    background: violet;
   
    border: 2px solid black;
}
#box1{
    /* grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 4; */
    grid-area: 1/1/3/4; 
}