
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    background: yellow;
    height: 700px;
     width: 605px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;
 
    grid-gap: 4px;
    grid-template-areas: 
 
    "hd hd"
    "side main"
    "ft ft";
 }
 .box{
     border: 1px solid red;
     background: aqua;
 }
 
 #Header{
     grid-area: hd;
 }
 #Footer{
     grid-area:ft ;
 }
 #Sidebar{
     grid-area: side;
 }
 #Content{
     grid-area: main;
 }

/* @media(max-width:400px){
    .container{
        grid-gap: 100px;
    }
 } */

 @media(max-width:350px){
    .container{
        border: 1px solid black;
        background: yellow;
        height: 700px;
         width: 505px;
        display: grid;
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 1fr;
     
        grid-gap: 2px;
        grid-template-areas: 
     
        "hd "
        "side"
        "main"
        "ft";
     }
 }