.container {
  height: 500px;
  width: 500px;
  background: green;
  border: 2px solid black;
  display: flex;
}
.box {
  border: 2px solid orange;
  background: aqua;
  width: 150px;
  height: 150px;
  border: 2px solid beige;
  margin: 20px;

  /* transition: 2s;
    transition-property: all; */
  /* transition-delay: 5s;
    transition: transform 1s ease ;
    transition: background-color 0.3s ease 3s; */
  /* transition: all  5s ease 1s ; */
  /* transition: transform 3s ease-in;
     */
  /* transition: 3s;     */
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition-delay: 1s;
}
.box:hover {
  background: rgb(171, 33, 171);
  transform: rotate(360deg);
  transform: scale(2) translateX(500px) rotate(360deg);
}
